@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box {
  width: 100vw;
  height: 100vh;
}

#overCover.active {
  filter: blur(8px);
}

.over {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c1c7d0;
  opacity: 0;
  pointer-events: none;
}

.over.active {
  opacity: 0.6;
  pointer-events: all;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  transform: translate(1%, 1%);
  background-color: white;
  border-radius: 16px;
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-in-out;
  z-index: 10;
}

.popup::-webkit-scrollbar {
  display: none;
}

.popup.active {
  visibility: visible;
  opacity: 1;
  width: 90%;
  height: 90%;
  position: fixed;
  top: 5%;
  right: 5%;
}

.titles {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.popup .tile {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
}

.close {
  border: none;
  background-color: #fff;
  font-size: 30px;
  padding-right: 14px;
  cursor: pointer;
}

.social-icons10 {
  display: flex;
  align-items: center;
  margin-left: 27px;
}

.social-icons10 li {
  list-style-type: none;
  padding-right: 10px;
}

.imageMobile {
  width: 90%;
  height: 30%;
  margin-left: 5%;
}

.tonic-text {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
}

.techno,
.btns {
  margin-left: 30px;
}
.invisable { visibility: hidden; }

.but {
  color: #6070ff;
  padding: 3%;
  padding-left: 20px; 
  padding-right: 20px; 
  text-align: center;
  border-radius: 8px;
  border: 1px solid #6070ff;
  margin-right: 10px;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  font-family: "Poppins", sans-serif;
}

.main-header {
  height: 5rem;
  background-color: #fff;
}

.menu-lists {
  display: none;
}

.sidebar {
  height: 690vh;
  width: calc(100vw);
  position: absolute;
  display: block;
  z-index: 10;
  opacity: 1.5;

  /* backdrop-filter: blur(5px);  */
  top: 0;
  left: 0;

  /* filter: blur; */
  background-color: #7683fa;
  filter: blur(2px);
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  margin-top: 2px;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: relative;
  top: 10px;
  margin-left: 80vw;
  font-size: 36px;
}

.openbtn {
  cursor: pointer;
  margin-top: 24px;
  margin-right: 24px;
}

.openbtn:hover {
  background-color: #888;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in;
  animation-duration: 3s;
  animation-name: slidFromLeft;
  transform: translate(0%);
}

.info-text {
  text-decoration: none;
  margin-top: 24px;
  margin-left: 24px;
  color: #0e26f8;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-text:focus {
  outline: 2px solid #273bf3;
  padding: 2px;
  border-radius: 4px;
}

.headlines {
  background-image: url("./Image/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  background-attachment: unset;
  background-position-x: 9px;
  background-position-y: -6px;
  background-color: #fff;
  border-radius: 0 0 0 40px;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.headlines .about {
  padding: 24px;
}

.headlines .intro {
  margin-top: 80px;
  line-height: 34px;
  font-size: 33px;
  font-weight: 700;
  color: #172b4d;
}

.about p {
  margin-top: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #344563;
}

.connect {
  padding: 0 24px;
  color: #7f8cff;
}

.social-icons {
  padding: 24px;
  padding-bottom: 101px;
}

.social-icons li {
  list-style-type: none;
}

.social-icons ul {
  display: flex;
  gap: 20px;
  width: 50%;
}

.wraper {
  display: grid;
}

.works-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  width: 94%;
  margin-left: 3%;
  border-radius: 10px;
  background-color: #fff;
  padding: 16px;
}

.works-container-image {
  width: 100%;
}

.must-ignor2 {
  display: none;
}

.primarytext-title {
  font-size: 38px;
  margin-block: 15px;
  color: #172b4d;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20vw;
}

.stack-year .title {
  color: #344563;
}

.lang-year {
  color: #7a869a;
}

.works-container-text {
  margin-block: 10px;
  color: #344563;
  font-size: 15px;
}

.btns {
  margin-block: 16px;
  display: flex;
  gap: 2px;
  text-transform: lowercase;
}

.primarytext1-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-top: -8px;
  width: 295px;
  height: 124px;
  background: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul.primarytext3 {
  margin-block: 16px;
  display: flex;
  align-items: center;
}

.canopy {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.num-text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.lang {
  border-radius: 8px;
  color: #6070ff;
  background-color: #ebebff;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 12px;
  list-style-type: none;
  margin-right: 8px;
}

.project {
  color: #396df2;
  border-radius: 8px;
  border: 1px #6070ff solid;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  word-spacing: 3px;
  margin-top: -4px;
  padding: 8px 12px;
  text-align: center;
  background-color: #fff;
}

.project:hover {
  background-color: #535ca8;
  border-color: #535ca8;
  color: #fff;
}

.project:active {
  background-color: #4053fc;
  color: #fff;
}

.project:disabled {
  background-color: #fff;
  border-color: #7a869a;
  color: #7a869a;
}

.div-background {
  background-color: #fff;
  border-top-right-radius: 70px;
}

.about-my-self {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-right: 10px;
  width: 320px;
  min-height: 825px;
  top: 3506px;
  margin-top: 100px;
  margin-left: 10px;
}

.top {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  padding: 0;
  background-color: #fff;
  width: 330px;
  height: 350px;
  align-self: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.list-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 320px;
  height: 480.15px;
  margin-top: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px 0;
}

.social-media1 {
  margin-top: -20px;
}

.first-text {
  margin-bottom: -5px;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #172b4d;
  padding-left: 20px;
}

.second-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  word-spacing: 1px;
  margin-top: 5px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 5px;
  color: #344563;
}

.sub-social-media {
  width: 217px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-left: 20px;
  color: #7f8cff;
  margin-bottom: 10px;
}

ul.socail-media-icon1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.ul-item li {
  list-style-type: none;
  margin-top: 20px;
  margin-left: 11px;
}

.socail-media-icon1 a {
  margin-right: 18px;
}

.item a:hover {
  color: #999;
}

.normal-button {
  color: #084bf5;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #084bf5;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  word-spacing: 3px;
  margin-left: 20px;
  padding: 8px 12px;
  margin-top: 5px;
  text-align: center;
}

.normal-button:hover {
  color: #fff;
  background-color: #051ceb;
}

.normal-button:active {
  color: #fff;
  background-color: #030a58;
}

.normal-button:disabled {
  color: gray;
  background-color: gray;
}

.ul-item {
  list-style-type: none;
  margin-left: 5px;
}

.language {
  width: 315px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 25px;
}

.lage-list {
  width: 315px;
  height: 248.15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.language span {
  font-size: 20px;
  text-align: left;
  color: #000;
  font-style: normal;
  line-height: 20px;
  margin-left: 20px;
}

.language h4 {
  font-size: 20px;
  margin-left: 30px;
  font-weight: 500;
}

.language img {
  width: 40px;
  height: 40px;
  margin-top: -2px;
  margin-left: 130px;
  border-radius: 8px;
  padding-right: 8px;
}

.skills {
  margin-left: 75px;
}

.web-lang {
  display: flex;
  flex-direction: row;
  height: 50.72px;
  width: 290.5px;
  border-radius: 10px;
  margin-top: 0;
  padding-top: 5px;
  background-color: #f7f7f9;
}

.web-lang img {
  margin-left: 30px;
  width: 48px;
  height: 48px;
}

.web-lang span {
  margin-left: 30px;
  padding-top: 15px;
}

.web-lang li {
  margin-left: 16px;
  margin-top: 18px;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

ul.socail-media-icon1 li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  color: #dfe1e6;
  margin-left: 20px;
  width: 95%;
  height: 0.1px;
}

.contact-me {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-right: 10px;
  border-top-left-radius: 60px;
  background-color: #6070ff;
  width: 100%;
  margin-top: 200px;
  background-image: url("./Image/contact\ form\ shapes-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50vw;
}

.contact-title {
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.contact-text {
  color: #ebebff;
  font-size: 20px;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-container {
  margin-left: 25px;
}

.first-name {
  color: #172b4d;
  padding: 10px 16px;
  width: 260px;
  border-radius: 8px;
  border-width: 0;
  margin-top: 20px;
}

.contact-textarea {
  color: hsla(180, 4%, 5%, 0.733);
  margin-top: 18px;
  border-radius: 8px;
  border-width: 0;
  padding: 10px 16px;
  resize: none;
}

.git-in-touch {
  color: #0a22f3;
  margin-top: 20px;
  margin-bottom: 45px;
  border-radius: 8px;
  border-width: 0;
  padding: 8px 12px;
  font-size: 17px;
  font-weight: 500;
  background-color: #fff7f7;
}

.git-in-touch:hover {
  background-color: #2230d2;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 45px;
  border-radius: 8px;
  border-width: 0;
  padding: 8px 12px;
  font-size: 17px;
  font-weight: 500;
}

.git-in-touch :active {
  background-color: #070c44;
  border-color: #f8f2f2;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 45px;
  border-radius: 8px;
  border-width: 0;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .popup.active {
    width: 80%;
    right: 10%;
  }

  .imageDesktop {
    width: 90%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 50vh;
  }

  .tonic-text{
    float: left;
    width: 70%;
  }
  .techno,.btns{
    float: right;
    width: 23%;
  }
  /* .primarytext3{
    display: grid;
  }
   */
  .info-image {
    display: none;
  }

  .main-header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 6;
  }

  .menu-lists {
    display: flex;
    list-style-type: none;
    color: #344563;
    font-size: 40px;
    line-height: 50px;
    margin-top: 12px;
  }

  li.item a {
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    margin-right: 32px;
    cursor: pointer;
  }

  li.item a:hover {
    color: #000;
  }

  .info {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .headlines {
    background-image: url(./Image/Header\ bg2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10px;
    min-height: 110vh;
    position: relative;
    top: 80px;
    margin-bottom: 60px;
  }

  .contain {
    max-width: 1000px;
    padding: 24px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    left: 10%;
    top: 10%;
  }

  .headlines .intro {
    margin-top: 170px;
    margin-left: 90px;
    line-height: 56px;
    font-size: 48px;
  }

  .about p {
    margin-left: 90px;
    font-size: 18px;
    line-height: 28px;
  }

  .connect,
  .social-icons {
    margin-left: 90px;
  }

  .work-sections {
    max-width: 1200px;
    margin: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .works-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
    transition: all 0.3s ease-in;
    align-items: center;
  }

  .works-container > * {
    flex: 1;
  }

  .works-container:hover {
    transform: scale(0.9);
  }

  .works-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .works-container-image {
    width: 444px;
    height: 348px;
    margin-right: 46px;
  }

  .must-ignor {
    display: none;
  }

  .must-ignor1 {
    display: none;
  }

  .must-ignor2 {
    display: inline;
  }

  .primarytext1 {
    margin-top: -70px;
  }

  .primarytext-title {
    font-size: 40px;
    line-height: 54px;
  }

  .frame {
    justify-content: flex-start;
    gap: 20px;
    margin-right: 2vw;
    font-size: 18px;
    line-height: 24px;
  }

  .works-container-text {
    margin-top: 24px;
  }

  ul.primarytext3 {
    margin-left: 0;
    gap: 0;
  }

  .lang {
    padding: 4px 12px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #ebebff;
    border: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 24px;
  }

  .test-image {
    width: 100%;
    height: 100%;
  }

  .about-my-self {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .text-container {
    width: 120%;
  }

  .second-text {
    font-size: 16px;
    line-height: 24px;
  }

  .list-skills {
    width: 50%;
    padding-top: 40px;
  }

  .ul-item {
    width: 100%;
  }

  .language h4 {
    margin-right: 300px;
  }

  .top {
    margin-right: 100px;
  }

  .web-top {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 2px;
    padding-left: -20px;
  }

  .web-lang {
    width: 110px;
    height: 100px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
    padding-right: 20px;
  }

  .web-lang img,
  .web-lang span {
    margin-left: 7px;
  }

  hr {
    width: 75%;
  }

  .contact-me {
    background-image: url(./Image/desktopbuto.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 110vh;
    position: relative;
    top: 50px;
    margin-bottom: 60px;
  }

  h3.contact-title {
    line-height: 52px;
    margin-top: 100px;
  }

  p.contact-text {
    width: 569px;
  }

  .first-name {
    width: 447px;
    height: 48px;
    border-radius: 2px;
    display: block;
  }

  .contact-textarea {
    width: 447px;
    height: 170px;
    border-radius: 2px;
    display: block;
  }

  .git-in-touch {
    margin-left: 175px;
  }
}
