@media screen and (min-width: 768px) {
  .popup.active {
    width: 80%;
    right: 10%;
  }

  .imageDesktop {
    width: 95%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 41.5vh;
  }

  .tonic-text {
    float: left;
    width: 63%;
    margin-right: auto;
    margin-bottom: 5%;
  }

  .techno,
  .btns {
    float: right;
    margin-left: 0%;
    width: 30%;
  }

  .btns {
    margin-top: 2%;
  }

  .but {
    width: 45%;
    color: #6070ff;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #6070ff;
  }

  .primarytext34 li {
    display: inline-block;
    margin-left: 5px;
    color: #6070ff;
    background-color: #ebebff;
    padding: 3px 8px;
    border-radius: 10px;
  }

  .info-image {
    display: none;
  }

  .main-header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 6;
  }

  .menu-lists {
    display: flex;
    list-style-type: none;
    color: #344563;
    font-size: 40px;
    line-height: 50px;
    margin-top: 12px;
  }

  li.item a {
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    margin-right: 32px;
    cursor: pointer;
  }

  li.item a:hover {
    color: #000;
  }

  .info {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .headlines {
    background-image: url(./Image/Header\ bg2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10px;
    min-height: 110vh;
    position: relative;
    top: 80px;
    margin-bottom: 60px;
  }

  .contain {
    max-width: 1000px;
    padding: 24px;
    position: absolute;
    left: 10%;
    top: 10%;
  }

  .headlines .intro {
    margin-top: 170px;
    margin-left: 90px;
    line-height: 56px;
    font-size: 48px;
  }

  .about p {
    margin-left: 90px;
    font-size: 18px;
    line-height: 28px;
  }

  .connect,
  .social-icons {
    margin-left: 90px;
  }

  .work-sections {
    max-width: 1200px;
    margin: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .works-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
    transition: all 0.3s ease-in;
    align-items: center;
    width: auto;
    gap: 3%;
  }

  .works-container > * {
    flex: 1;
  }

  .works-container:hover {
    transform: scale(0.9);
  }

  .even {
    flex-direction: row-reverse;
    gap: 2%;
  }

  .works-container-image {
    width: 444px;
    height: 348px;
  }

  .must-ignor {
    display: none;
  }

  .must-ignor1 {
    display: none;
  }

  .must-ignor2 {
    display: inline;
  }

  .primarytext1 {
    margin-top: -70px;
  }

  .primarytext-title {
    font-size: 40px;
    line-height: 54px;
  }

  .frame {
    justify-content: flex-start;
    gap: 20px;
    margin-right: 2vw;
    font-size: 18px;
    line-height: 24px;
  }

  .works-container-text {
    margin-top: 24px;
  }

  ul.primarytext3 {
    margin-left: 0;
    gap: 0;
  }

  .lang {
    padding: 4px 12px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #ebebff;
    border: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 24px;
  }

  .test-image {
    width: 100%;
    height: 100%;
  }

  .about-my-self {
    display: flex;
    flex-direction: row;
    padding: 10% 7%;
    padding-bottom: 15%;
  }
  .about-my-self .top{
    flex: 1 ;
    border: 1px solid red;
  }

  .text-container {
    width: 120%;
  }

  .second-text {
    font-size: 16px;
    line-height: 24px;
  }

  .list-skills {
    flex:2;
    height: auto;
    border: 1px solid green;
  }
  

  /* .list-skills-ul li {
    min-width: 46vw;
} */
  .ul-item {
    width: 100%;
  }

  .language h4 {
    margin-right: 300px;
  }

  .top {
    margin-right: 100px;
  }

  .web-top {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    gap: 5%;
    padding: 0;
  }
  .web-top1 {
    display: none;
  }

  .web-lang {

    height: 100px;
    padding-bottom: 10px;
  }

  .web-lang img,
  .web-lang span {
    /* margin-left: 7px; */
  }

  hr {
    width: 75%;
  }

  .contact-me {
    background-image: url(./Image/desktopbuto.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 110vh;
    position: relative;
    top: 50px;
    margin-bottom: 60px;
    text-align: center;
    align-items: center;
  }

  h3.contact-title {
    line-height: 52px;
    margin-top: 100px;
  }

  p.contact-text {
    width: 30%;
  }

  .form-container {
    margin-left: 0%;
  }

  .first-name {
    width: 30vw;
    height: 8vh;
    border-radius: 2px;
    display: block;
  }

  .contact-textarea {
    width: 30vw;
    height: 30vh;
    border-radius: 2px;
    display: block;
  }

  .errors {
    margin-left: 28%;
  }
}
